{% extends "layout.html" %}

{% block projectsmenu %}
<div class="container-fluid">
  <div class="content-section">
    <p class='text-muted'>List of AI/ML projects developed @ EQA
      <ul class="list-group">
        <a href="{{ url_for('imdb') }}" class="list-group-item list-group-item-action">IMDB Review Classification</a>
        <a href="#" class="list-group-item list-group-item-action">Cricket vs Baseball</a>
        <a href="#" class="list-group-item list-group-item-action">Defect Classification</a>
        <a href="#" class="list-group-item list-group-item-action">New</a>
      </ul>
    </p>
  </div>
</div>
{% endblock projectsmenu %}