{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">IMDB User Review - Sentiment Analysis</legend>
      <div class="form-group">
        {{ form.user_review.label(class="form-control-label") }}
        {% if form.user_review.errors %}
        {{ form.user_review(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.user_review.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.user_review(class="form-control") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}